# Entorno virtual
myenv/
venv/
.env/

# Archivos compilados de Python
__pycache__/
*.pyc

# Base de datos local
*.sqlite3

# Carpeta de instancia (Flask)
instance/

# Archivos temporales de VS Code
.vscode/
